body{
    font-family: "Nunito Sans";
    background-color: #F8EDEB;
    margin: 0px; 
}


a{
    text-decoration: none;
    color:Black;
}

a:link {
    text-decoration: none;
    color:black;
  }
  
  a:visited {
    text-decoration: none;
    color:grey;
  }
  
  a:hover {
    text-decoration: none;
    color:black;
  }
  
  a:active {
    text-decoration: none;
  }

.button-lg {
    background-color:black;
    padding: 10px;
    border-radius:5px;
    margin:0px; 
}

.button-sm {
    background-color:black;
    padding: 5px;
    border-radius:5px; 
    display:block;
}